* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "sans-serif";
  background-image: linear-gradient(
    to bottom,
    #dadde2,
    #bbbfc6,
    #9ea1ab,
    #828490,
    #686876,
    #626472,
    #5b5f6e,
    #555b6a,
    #606c7a,
    #6c7d89,
    #798e97,
    #889fa5
  );

  width: 100%;
}

/* Mobile */
.wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header"
    "section"
    "footer";
}
/* Header / Nav */

.header {
  max-width: 1400px;
  margin: auto;
  grid-area: header;
}

.navbar {
  background-color: #474554;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.2rem;
  font-size: 2em;
  color: #bbbfc6;
}

.navbar__logo--span {
  color: #f2e5bb;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  font-size: 0.9em;
  padding-top: 0.625rem;
  padding-bottom: 1.25rem;
}

.nav__link {
  color: black;
  text-transform: initial;
  text-decoration: none;
  font-weight: 700;
}

.nav__link:hover {
  color: beige;
}

/* Footer */
footer {
  grid-area: footer;
}
.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.5625rem;
  background-color: #889fa5;
}
.container-footer div {
  display: flex;
  flex-direction: column;
}

.container-footer div h2 {
  color: black;
  font-size: 1.25rem;
  padding-bottom: 0.8rem;
}

.container-footer a {
  color: white;
  text-decoration: none;
  font-size: 0.8125rem;
  padding: 0.3rem;
}

.footer_image {
  padding-top: 1.25rem;
  width: 300px;
}

.social__logos {
  width: 2rem;
  height: 2rem;
  margin-left: 1.2rem;
  padding-bottom: 5rem;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  background-color: #2e4e454f;
  padding: 1rem;
}

section {
  grid-area: section;
}

/* Pag 1 */

.container {
  text-align: center;
  padding: 1.5rem;
}

.intro-image {
  max-width: 100%;
}

.intro-box {
  font-size: 1.625rem;
  color: black;
  text-transform: capitalize;
  padding-top: 1.25rem;
}

/* Pag 2 */
.container-p2 {
  width: 95%;
  padding: 1.4rem;
}

.table-page__title {
  font-size: 1.125rem;
  font-weight: 800;
  text-align: center;
}

.container-p2 div {
  padding-top: 1.875rem;
}
.table-page__text {
  font-size: 0.9375rem;
  text-align: justify;
}

/* Pag 3 */
.container-p3 {
  width: 95%;
  padding: 1.4rem;
  text-align: center;
}

.container-p3 h2 {
  padding-top: 1.25rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.container-p3 p {
  font-size: 0.75rem;
  padding-top: 0.1875rem;
  text-align: justify;
}

/* Pag 4  */
.container-p4 {
  width: 95%;
  padding: 1.4rem;
  text-align: center;
}

.container-p4 h1 {
  font-size: 1.25rem;
}

.container-p4 p {
  padding: 0.865rem;
  font-size: 12px;
  text-align: justify;
}

.sobre-nosotros__video {
  padding-top: 20px;
}

/* Pag 5 */
.container-p5 {
  width: 95%;
  padding: 1.4rem;
  text-align: center;
}

.container-p5 h1 {
  font-size: 1.25rem;
}

.container-p5 div {
  padding: 0.75rem;
}
.contact-text {
  font-size: 12;
  color: black;
}

.contact-text__destacado {
  color: #474554;
  font-weight: 600;
}

.contact-text__icons {
  font-size: 0.9375rem;
  margin-top: 2.8125rem;
}

.contact-text__icons i {
  margin-top: 0.5rem;
}

.contact-box {
  width: 350px;
  margin: auto;
  background: #6c7d8941;
  border-radius: 0.625rem;
}

.contact-box input,
textarea {
  width: 100%;
  margin-bottom: 0.625rem;
  padding: 0.4375rem;
  font-size: 0.8125rem;
  border: none;
}

.contact-box textarea {
  min-height: 6.25rem;
  max-height: 12.5rem;
  max-width: 100%;
  min-width: 50%;
}

.send-button {
  background: #303749;
  color: white;
  margin-top: 15px;
}

/* Escritorio */

@media (min-width: 800px) {
  header .nav__menu {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
  }

  .nav__link {
    color: white;
  }

  .nav__link:hover {
    color: beige;
  }

  .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2rem;
    background-color: #889fa5;
  }

  .container-footer div a {
    font-size: 16px;
  }

  /* Pag 1 Desktop */
  .container {
    padding: 3.125rem;
  }

  .intro-box {
    font-size: 2.5rem;
  }

  /* Pag 2 Desktop */
  .container-p2 {
    padding: 3.125rem;
  }

  .table-page__table {
    text-align: center;
  }

  .table-page__text {
    font-size: 1.25rem;
  }

  .table-page__video {
    text-align: center;
  }

  /* Pag 3 Desktop */

  .container-p3 {
    padding: 3.125rem;
  }

  .faq__title {
    font-size: 28px;
  }

  .faq__text h2 {
    font-size: 18px;
    text-align: justify;
  }

  .faq__text p {
    font-size: 14px;
  }

  /* Pag 4 Desktop */
  .container-p4 {
    padding: 3.125rem;
  }

  .sobre-nosotros__intro h1 {
    font-size: 28px;
  }

  .sobre-nosotros__intro p {
    font-size: 14px;
    text-align: justify;
  }

  /* Pag 5 Desktop */
  .container-p5 {
    padding: 3.125rem;
    text-align: start;
  }

  .container-p5 h1 {
    font-size: 28px;
  }

  .contact-text {
    font-size: 18px;
  }

  .contact-text__icons {
    display: flex;
    flex-direction: column;
    font-size: 19px;
  }

  .contact-text__icons i {
    margin-top: 15px;
  }
}
